[Unit]
Description=Cointhink API

[Service]
User=devops
ExecStartPre=/usr/local/bin/cointhink-email cointhink-api
ExecStart=/home/devops/api-go/cointhink
WorkingDirectory=/home/devops/api-go
Restart=always

[Install]
WantedBy = multi-user.target
